{
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
          "modules": true
      }
  },
  "extends": "eslint:recommended",
  "rules": {
    "func-names": ["error", "never"],
    "indent": 0,
    "no-undef": "off",
    "no-console": 1
  },
  "globals": {
    "page": true
  }
}